.idea

data/bronze_layer/*
!data/bronze_layer/.gitkeep

data/silver_layer/*
!data/silver_layer/.gitkeep

data/gold_layer/*
!data/gold_layer/.gitkeep

dist-sales
poetry
sales-venv
spark-warehouse
.venv

.coverage
coverage.xml
junit.xml
**/__pycache__/
__pycache__
htmlcov
